.feedContainer {
  margin: 0 auto;
  margin-left: -20%;
}
.feedContent {
  margin-left: 5%;
  /* border: 2px solid hotpink; */
  max-width: 600px;
}
.individualContent {
  border-radius: 5px;
  background-color: ghostwhite;
  max-width: 600px;
  margin-left: 1%;
  filter: drop-shadow(0 0 5px black);
}
.reviewContainer {
  position: relative;
  width: 500px;
  right: 150px;
}
.modalContent {
  padding: 20px;
}
.bottomLine {
  padding: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
#myImg {
  border-radius: 5px;
  display: block;
  cursor: pointer;
  transition: 0.3s;
  margin: auto;
  width: 100%;
  height: 450px;
  max-width: 600px;
}
#myImg:hover {
  opacity: 0.7;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* padding-top: 1em; */
  padding-bottom: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}
.viewReviews {
  margin-top: 200px;
}

.caption, .modalTitle, #reviewList, .viewReviews {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px;
  height: 100%;
  font-weight: lighter;
}
.caption {
  margin-bottom: 1em;
}
.modal-content, .caption, .individualContent {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 1.1s;
  animation-name: zoom;
  animation-duration: 1.1s;
}
@-webkit-keyframes zoom {
  from{-webkit-transform: scale(0)}
  to{-webkit-transform: scale(1)}
}
@keyframes zoom {
  from{transform: scale(0)}
  to{transform: scale(1)}
}
.close {
  position: fixed;
  margin: .2em;
  padding: .05em;
  right: 10px;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: bolder;
  transition: 0.3s;
  border: .15px solid #f1f1f1;
  border-radius: 5px;
  line-height: 30px;
}
.close:hover, .close:focus {
  color: #bbb;
  border: .25px solid #bbb;
  text-decoration: none;
  cursor: pointer;
}
#restName {
  text-align: center;
}
#allowPostDiv {

}
#newPostForm {
 width: 100%;
 height: 100%;
}
@media only screen and (max-width: 700px) {
  .modal-content{
    width: 100%;
  }
  .reviewContainer {
    position: relative;
    /* z-index: 1; */
    width: 100%;
    right: 100px;
  }
  .individualContent {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 400px){
  .reviewContainer {
    position: relative;
    width: 100%;
    height: 100%;
    right: 100px;
  }
  .individualContent {
    margin-bottom: 50px;
    width: 375px;
    margin-left: -75px;
  }
  #myImg {
    height: 325px;
  }
  .modal {
    height: 325px;
  }

}
