#topP {
  border-bottom: 1.5px solid #f1f1f1;
  padding: 15px;
}
#bottomP {
  border-top: 1.5px solid #f1f1f1;
  padding: 15px;
}
.mainContainer {
  margin-top: 40px;
}

.container {
  padding: 20px;
  background-color: lightgrey;
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
  margin-left: 30%;
  animation: form 5s infinite;

}
@keyframes form {
  0%   {filter: drop-shadow(0 0 5px red);}
  17%  {filter: drop-shadow(0 0 5px orange);}
  34%  {filter: drop-shadow(0 0 5px yellow);}
  51%  {filter: drop-shadow(0 0 5px green);}
  68%  {filter: drop-shadow(0 0 5px blue);}
  84%  {filter: drop-shadow(0 0 5px indigo);}
  100%  {filter: drop-shadow(0 0 5px violet);}

}

input, textarea {
  font-size: 1em;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}

textarea {
  resize: vertical;
  height: 8em;
  overflow-y: scroll;
  font-size: 1.5em;
}
/* hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
} */
.myButton {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.myButton:active {
	position:relative;
	top:1px;
}
a {
  color: blue;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/*========Tablet==============*/
@media screen and (max-width: 900px) {
  #newUserForm {
    margin-left: -150px;
    margin-top: 20px;
    width: 130vw;
    height: 86%;
  }
  #newRestForm {
    margin-left: -150px;
    margin-top: 20px;
    width: 130vw;
    height: 86%;
  }
}
/*============Phone===========*/
@media screen and (max-width: 400px){
  #newUserForm, #newRestForm {
    margin-left: -100px;
    width: 130vw;
    height: 86%;
  }
}
